@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">You are welcome to my page</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>I just built my first website. my friends are Jerry, Chris and Dammy</
    <p> Chris Chime actually asked me to edit my index and view. that is why i am here. </p></div>
<div>
    <h3>What we have leanrt so far</h3>
    <ol>
        <li>JavaScript</li>
        <li>C#</li>
        <li>SysAdmin</li>

    </ol>
</div>